/* Define CSS variables for colors and fonts */
:root {
  --background-color: #fafafa;
  --primary-color: #333;
  --secondary-color: #444;
  --accent-color: #5f788a;
  --font-family: "Poppins", sans-serif;
  --font-size-large: 3.7rem;
  --font-size-medium: 2rem;
  --font-size-small: 1.2rem;
  --item-border: 1px solid #ddd;
  --item-border-radius: 0.5rem;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
  margin-top: 50px;
  font-family: var(--font-family);
}

h1 {
  font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

/* .button_container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.letter_header {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-centered {
  margin: 0 auto;
}

.title {
  font-weight: 800;
  padding-bottom: 0.25em;
  margin-top: 2rem;
}

#linklist {
  list-style-type: none;
  padding: 0;
}

.skillfield {
  padding-bottom: 2em;
}

.skill-title {
  font-weight: 600;
}

.bg-steel {
  background-color: var(--accent-color);
}

.content-section {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.title-section {
  margin-bottom: 3rem;
}

.name,
.curriculum-vitae {
  font-size: var(--font-size-large);
  line-height: 1;
  text-align: center;
}

.name {
  font-weight: 800;
}

.curriculum-vitae {
  font-weight: 300;
  margin-bottom: 0;
}

.role {
  font-size: var(--font-size-medium);
  font-weight: 100;
}

.company {
  font-weight: 700;
  font-size: 2.75rem;
  color: var(--secondary-color);
  margin-top: 0;
}

.dates {
  font-weight: 100;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.article-content {
  display: block;
}

.job {
  margin-top: 2em;
}

.badge {
  font-size: 1.1em;
  line-height: 1;
  margin: 0.2em;
  padding: 0.5em;
  white-space: pre-wrap;
  font-weight: 300;
}

#mugshot {
  padding: 2em;
}

#educations {
  display: flex;
  gap: 1rem;
}

#certs {
  display: flex;
  gap: 1rem;
}

#courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.item {
  background: #fff;
  border: var(--item-border);
  border-radius: var(--item-border-radius);
  padding: 1rem;
}

.details {
  font-size: var(--font-size-small);
  margin-bottom: 0;
}

.print-only {
  visibility: hidden;
  display: none;
}

@media print {
  article {
    page-break-inside: avoid;
  }
  .page-break {
    page-break-after: always;
  }
  #bio {
    page-break-inside: avoid;
    page-break-after: always;
  }
  .badge {
    color: var(--secondary-color);
  }
  .no-break {
    page-break-inside: avoid;
  }
  .no-print {
    display: none;
  }
  .print-only {
    visibility: visible;
    display: block;
  }
}

@media (max-width: 767px) {
  .name,
  .curriculum-vitae {
    font-size: 2em;
  }
  .title-section {
    margin-bottom: 1.75em;
  }
  .role {
    font-size: 1.33em;
  }
  .company {
    font-size: 1.5em;
  }
}
